doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    nav
      ul
        li
          a(href='/todos') Todos
        li
          a(href='/profesores') Profesores
        li
          a(href='/materias') Materias
        li
          a(href='/secciones') Secciones

    footer
      p © 2024 Cristhofer Solarte / Veronica Parra / Backend
